{% props
    type = 'button',
    value = null,
    pressed = false,
    disabled = false,
    variant = null,
    size = null,
%}

{% include 'components/_toggle-variants.html.twig' %}

{% set resolvedVariant = variant ?? __toggleGroupVariant ?? 'default' %}
{% set resolvedSize = size ?? __toggleGroupSize ?? 'default' %}
{% set state = pressed ? 'on' : 'off' %}
{% set ariaPressed = pressed ? 'true' : 'false' %}

<button
    type="{{ type }}"
    {% if value is not null %}value="{{ value }}"{% endif %}
    data-slot="toggle-group-item"
    data-variant="{{ resolvedVariant }}"
    data-size="{{ resolvedSize }}"
    data-state="{{ state }}"
    class="{{ cn(
        toggleVariants.apply({ variant: resolvedVariant, size: resolvedSize }),
        'min-w-0 flex-1 shrink-0 rounded-none shadow-none first:rounded-l-md last:rounded-r-md focus:z-10 focus-visible:z-10 data-[variant=outline]:border-l-0 data-[variant=outline]:first:border-l',
        attributes.render('class')
    ) }}"
    aria-pressed="{{ ariaPressed }}"
    {% if disabled %}disabled aria-disabled="true"{% endif %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
